<h3><%= @survey.title %></h3>

<form action="/survey/submit" method="post">

<% @survey.questions.each do |question| %>
  <label for="prompt">Question: <%= question.prompt %></label>


  <br>
  <select class="form-control" name="<%= @question_ids %>" >
      <option> <%= question.answer1 %> </option>
      <option> <%= question.answer2 %> </option>
      <option> <%= question.answer3 %> </option>
      <option> <%= question.answer4 %> </option>
  </select>

<% end %>
<br>
<button class="btn btn-info" type="submit" name="button">Submit Survey!</button>
</form>

<br><br>



<form action="/update_survey/<%= @survey.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input id="name" name="survey-title" type="text" placeholder="Enter a new title">
  <br><br>
  <button type="submit" class="btn btn-warning">Update title</button>
</form>

<hr>


<form action="/delete_question/<%= @survey.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
    <label for="delete_question">Delete a Question</label>
    <select class="form-control" name="question-id">
      <% @survey.questions.each do |question| %>
        <option value="<%= question.id %>"> <%= question.prompt %></option>
      <% end %>
    </select>
  <button type="submit" class="btn btn-danger">delete Q</button>
</form>

<hr>
<form action="/delete_survey/<%= @survey.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete Survey</button>
</form>
<br>
<a class="btn btn-success" href="/survey/build/<%= @survey.id %>">Add another question</a>
<hr>

<a href="/">Home</a>
